.body{
    background-color: gray;
  }
  /* .navbar {
      display: flex;
      justify-content: space-between;
      padding: 32px 24px 32px 30px;
      background-color: gray;
      width: max-content;
      float: right;
    } */

    .navbar{
      padding: 1.5%    }
   